* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Exo', sans-serif;
    background-color: $background-color;
    color: $main-font-color;
    font-size: 16px;
    line-height: 1.7;
    width: 90vw;
    margin-left: 6vw;
}

.page-layout {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 100%;
    justify-content: flex-start;
}

article {
    flex: auto;
}

p {
    font-size: $s-size;
    font-weight: 400;
    margin-bottom: $s-size;
    width: 70vw;
    margin-left: 15vw;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Butterfly Kids', cursive;
}

.container {
    padding: $m-size;
}

ul {
    list-style: none;
}

ul.links {
    margin-top: $s-size;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

img.thumb {
    width: 5em;
}