h1 {
    color: $h1-color;
    text-align: center;
    font-size: $xl-size;
    letter-spacing: 0.12rem;
    font-family: 'Princess Sofia', cursive;
}

h2 {
    color: $h2-color;
    text-align: center;
    font-size: $l-size;
    margin-bottom: $s-size;
    font-family: 'Princess Sofia', cursive;
}

h3 {
    color: $h3-color;
    text-align: center;
    font-size: $m-size;
    font-family: 'Princess Sofia', cursive;
}