// Colors
$main-font-color: #131516;
$white-color: #fff;
$grey-color: #777;
// $background-color: #ecf0f1;
// $burnt-sienna: rgb(231, 163, 144);
$background-color: #ecf0f1;
$h1-color: rgb(1, 127, 165);
$h2-color: #0088B2;
$h3-color: #0088B2;
// $welcome-button-color: rgb(211, 77, 0);
$welcome-button-color:rgb(238, 217, 34);
$option-button-color: rgb(241, 156, 76);
$midnight-blue-color: #2c3e50;
// Sizes
$s-size: 1.2rem;
$m-size: 1.8rem;
$l-size: 3.2rem;
$xl-size: 4.0rem;
// $desktop-breakpoint: 45rem;