// Colors
$main-font-color: #131516;
$white-color: #fff;
$grey-color: #777;
// $background-color: #ecf0f1;
// $burnt-sienna: rgb(231, 163, 144);
$background-color: #ecf0f1;
$h1-color: rgb(1, 127, 165);
$h2-color: #0088b2;
$h3-color: #0088b2;
// $welcome-button-color: rgb(211, 77, 0);
$welcome-button-color: rgb(238, 217, 34);
$option-button-color: rgb(241, 156, 76);
$midnight-blue-color: #2c3e50;
$submit-button-color: #e67e22;
$edit-button-color: #f39c12;
$warning-color: #c0392b; // Sizes
$xs-size: 0.8rem;
$s-size: 1.2rem;
$m-size: 1.8rem;
$l-size: 3.2rem;
$xl-size: 4rem;
// $desktop-breakpoint: 45rem;