*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what one rem is
    font-size: 62.5%;
    font-family: "Exo 2", sans-serif;
}

body {
    box-sizing: border-box;
    color: $color-text-main;
    background-color: $color-paper-light;
}