// COLORS
$color-primary-light: #0088b2;
$color-menu-dark: #2980b9;
$color-text-main: #000;
$color-white: #fff;
$color-black: #000;
$color-dark-grey: #777;
$color-off-white: #ecf0f1;
$color-btn-edit: #f39c12;
$color-submit: #f39c12;
$color-warning: #c0392b;
// FONT
$font-size-default: 1.6rem;
$font-size-medium: 2.8rem;
$font-size-large: 4rem;
$font-size-x-large: 4.6rem;
// GUTTER
$gutter-xsmall: 1rem;
$gutter-small: 2rem;
$gutter-large: 10rem;
