// COLORS
$main-font-color: #131516;
$white-color: #fff;
$grey-color: #777;
$background-color: #ecf0f1;
$h1-color: #017fa5;
$h2-color: #0088b2;
$h3-color: #0088b2;
$welcome-button-color: #eed922;
$option-button-color: #f19c4c;
$midnight-blue-color: #2c3e50;
$submit-button-color: #e67e22;
$edit-button-color: #f39c12;
$warning-color: #c0392b;
// FONT
$xs-size: 0.8rem;
$s-size: 1.2rem;
$m-size: 1.8rem;
$l-size: 3.2rem;
$xl-size: 4rem;