.form_label {
    color: $color-black;
    font-size: 1.4rem;
}

.form-row__label-container {
    padding-left: 1rem;
    text-align: right;
}

input,
textarea {
    padding: 0.6rem;
    font-size: 1.2rem;
    border-radius: 4px;
    outline: none;
}

input[type="text"],
textarea {
    width: 90%;
}

input[type="number"] {
    width: 6ch;
}