table {
  border-collapse: collapse;
  width: 100%;
  border-spacing: $gutter-xsmall;
}

table,
th,
td {
  border: 2px solid rgba($color-dark-grey, 0.7);
  padding: 0.5rem;
}

td {
  margin-bottom: $gutter-small;
}

th {
  height: 0;
  padding: 0;
}
