table {
  border-collapse: collapse;
  width: 100%;
  border-spacing: $gutter-xsmall;
}

table,
th,
td {
  border: 1px solid $color-black;
  padding: 0.5rem;
}

td {
  margin-bottom: $gutter-small;
}

th {
  height: 0;
  padding: 0;
}
